In [2]:
import pandas as pd
import numpy as np

In [133]:
cur = pd.read_csv('/media/mr-alden/backup/onedrive/reps/cur/data/2022/personal.csv')

In [98]:
data = pd.Series(np.random.randn(9), index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data.index
data['a']
data['b']
data['b' : 'c']
data.loc[['b', 'd']]
data.loc[:, 2]
data.unstack().stack()

a  1   -1.955653
   2   -0.349356
   3    0.328458
b  1   -0.585232
   3   -0.371984
c  1    0.059581
   2   -2.047980
d  2   -0.805002
   3    0.184583
dtype: float64

In [134]:
sorted = cur.sort_values(by = ['Sist', 'Fonte', 'Dia'], ascending = True)
sorted.index

Int64Index([19, 20, 15, 14, 18, 28, 29, 22, 24, 25, 26, 27, 21, 32, 16, 33, 36,
            17, 44, 45, 46, 47, 48, 31, 49, 23,  6,  9,  7, 30, 42, 43,  1, 35,
            37,  0,  8, 10,  3,  5,  4, 11, 12, 38,  2, 13, 39, 41, 40, 34],
           dtype='int64')

In [139]:
idnexe = sorted.set_index([sorted['Sist'], sorted['Fonte']])
idnexe

                                                                  Disc   Sist  \
Sist  Fonte
Dp    cash                                                  Vitamina D     Dp
      cash                                                        Açai     Dp
      cash                           Almoço 2 águas 20L e compras rios     Dp
      cash                                  Combustível oroch pedagios     Dp
      ccnubank                                       Compras atakarejo     Dp
      ccnubank               Almoco isabelle cafe Kopen estacionamento     Dp
      ccnubank                              Filme o senhor dos aneis 1     Dp
      ccnubank                                 Pizza dnapoli bp select     Dp
      ccnubank                          Ferramentas ferro solda e mais     Dp
      ccnubank                                         Recarga celular     Dp
      ccnubank                  Sete habitos das pessoas mais eficazes     Dp
      ccnubank                                          Roupas velmond     Dp
      cxpf                                              Pizza dnapolli     Dp
      cxpf                         Pagamento de internet claro Janeiro     Dp
      cxpf                                            Compras market4u     Dp
      cxpf                                       Pagamento gas janeiro     Dp
      cxpf                               2 wheys e creme branco growth     Dp
      cxpf                                        Atakareko e market4u     Dp
      cxpf                       Conta coelba brisas Novembro Dezembro     Dp
      cxpf                     Compras atakadao atakarejo e feira cond     Dp
      cxpf                                              Combustível up     Dp
      cxpf           Compras atakadao atakarejo feira cond e 3 agua...     Dp
      cxpf                                             Recarga celular     Dp
      matriz                              Plano de saúde cassi Janeiro     Dp
      matriz                                  Aluguel cond. brisas ssa     Dp
Inv   ccnubank                     Nord research assinatura dividendos    Inv
      easynvest               Juros s/ capital próprio 50 BRITUBACNOR4    Inv
      easynvest                                Prov irrf s/ renda fixa    Inv
      easynvestfixa                 Retirada de saldo de tesouro selic    Inv
Jq    ccnubank                                   2 conjuntos de roupas     Jq
      nuconta                                            Kit roupa sol     Jq
      nuconta                                       Brinquedo de praia     Jq
Opf   cash                                              saldo anterior    Opf
      cxpf                             Pagamento fatura nubank janeiro    Opf
      cxpf                                              Saída de saldo    Opf
      cxpf                                              saldo anterior    Opf
      easynvest                     Recebimento de saldo tesouro selic    Opf
      easynvest                            Saída de saldo para Nuconta    Opf
      easynvest                                         saldo anterior    Opf
      easynvestfixa                                     saldo anterior    Opf
      easynvestvar                                      saldo anterior    Opf
      nuconta                        Recebimento de saldo da easynvest    Opf
      nuconta                                   Saída para sistema faz    Opf
      nuconta                                     Recebimento de saldo    Opf
      nuconta                                           saldo anterior    Opf
Pr    cxpf                                             Aluguel ap. 403     Pr
      cxpf                                             Aluguel ap. 203     Pr
      cxpf                                             Aluguel ponto 1     Pr
      nuconta                                          Aluguel ap. 202     Pr
Senai cxpf                    Salário 9 bolsa de estudos SENAI CIMATEC  Senai

                                  Cat          Fonte     Valor   Op Op type  \
Sist  Fonte
Dp    cash                   Farmacia           cash    -29.00    D      gd
      cash                        Sup           cash    -35.00    D      gd
      cash                    Mercado           cash    -69.80    D      gd
      cash                        Dct           cash   -129.70    D      gd
      ccnubank                Mercado       ccnubank   -347.57    D      cc
      ccnubank                    Sup       ccnubank    -56.06    D      cc
      ccnubank                    Sup       ccnubank    -22.90    D      cc
      ccnubank                    Sup       ccnubank    -68.90    D      cc
      ccnubank             Computador       ccnubank   -159.11    D      cc
      ccnubank               Isabelle       ccnubank    -10.00    D      cc
      ccnubank                 Livros       ccnubank    -17.90    D      cc
      ccnubank                 Roupas       ccnubank   -104.85    D      cc
      cxpf                        Sup           cxpf    -50.00    D     pix
      cxpf                   Internet           cxpf   -104.99    D     blt
      cxpf                    Mercado           cxpf    -22.52    D      cd
      cxpf                        Gas           cxpf    -67.59    D     blt
      cxpf                 Suplemento           cxpf   -288.42    D     blt
      cxpf                    Mercado           cxpf   -265.49    D      cd
      cxpf           Conta de energia           cxpf   -482.35    D  Boleto
      cxpf                    Mercado           cxpf   -346.83    D      cd
      cxpf                        Dct           cxpf   -100.00    D      cd
      cxpf                    Mercado           cxpf   -179.55    D      cd
      cxpf                   Isabelle           cxpf    -15.00    D      cc
      matriz           Plano de saúde         matriz   -748.44    D     blt
      matriz                  Aluguel         matriz  -2500.00    D     NaN
Inv   ccnubank                  Curso       ccnubank    -18.00    D      cc
      easynvest            dividendos      easynvest      0.75    C     NaN
      easynvest                   NaN      easynvest    -28.96    D     NaN
      easynvestfixa               NaN  easynvestfixa  -6945.46   Si     NaN
Jq    ccnubank                 Roupas       ccnubank   -116.89    D      cd
      nuconta                  Roupas        nuconta   -119.99    D      cd
      nuconta              Brinquedos        nuconta    -22.90    D      cd
Opf   cash                        NaN           cash    266.00  NaN     NaN
      cxpf           Pagamento fatura           cxpf   -350.00    D     NaN
      cxpf                        NaN           cxpf  -2961.58   Si     PIX
      cxpf                        NaN           cxpf      3.45  NaN     NaN
      easynvest                   NaN      easynvest   6945.46   Ei     NaN
      easynvest                   NaN      easynvest  -7051.96   Si     NaN
      easynvest                   NaN      easynvest    134.71  NaN     NaN
      easynvestfixa               NaN  easynvestfixa  19906.56  NaN     NaN
      easynvestvar                NaN   easynvestvar   3988.43  NaN     NaN
      nuconta                     NaN        nuconta   7051.96   Ei     NaN
      nuconta                     NaN        nuconta  -7000.00   Se     NaN
      nuconta                     NaN        nuconta   2961.58   Ei     NaN
      nuconta                     NaN        nuconta   1154.00  NaN     NaN
Pr    cxpf            Crédito aluguel           cxpf    272.50   Ee     NaN
      cxpf            Crédito aluguel           cxpf    325.00   Ee     pix
      cxpf            Crédito aluguel           cxpf   1310.00   Ee     NaN
      nuconta         Crédito aluguel        nuconta    200.00   Ee     NaN
Senai cxpf            Crédito salário           cxpf   3600.00    C     NaN

                      Dia  Mês     Ano                    Ctr
Sist  Fonte
Dp    cash            3.0  1.0  2022.0                    NaN
      cash            3.0  1.0  2022.0                     35
      cash            4.0  1.0  2022.0          30+12+6.80+21
      cash            7.0  1.0  2022.0            20+100+9.70
      ccnubank        7.0  1.0  2022.0                    NaN
      ccnubank        9.0  1.0  2022.0           39.56+7.50+9
      ccnubank       10.0  1.0  2022.0                    NaN
      ccnubank       24.0  1.0  2022.0               49.90+19
      ccnubank       24.0  1.0  2022.0            75.92+83.19
      ccnubank       24.0  1.0  2022.0                    NaN
      ccnubank       24.0  1.0  2022.0                    NaN
      ccnubank       24.0  1.0  2022.0                    NaN
      cxpf            5.0  1.0  2022.0                    NaN
      cxpf            5.0  1.0  2022.0                    NaN
      cxpf            6.0  1.0  2022.0                    NaN
      cxpf            7.0  1.0  2022.0                    NaN
      cxpf            7.0  1.0  2022.0                    NaN
      cxpf           10.0  1.0  2022.0            256.46+9.03
      cxpf           12.0  1.0  2022.0                    NaN
      cxpf           14.0  1.0  2022.0           315.87+30.96
      cxpf           15.0  1.0  2022.0                    NaN
      cxpf           17.0  1.0  2022.0       62+82.77+30+4.78
      cxpf           17.0  1.0  2022.0                    NaN
      matriz          5.0  1.0  2022.0                    NaN
      matriz         17.0  1.0  2022.0                    NaN
Inv   ccnubank       24.0  1.0  2022.0                   5/12
      easynvest       3.0  1.0  2022.0                    NaN
      easynvest       4.0  1.0  2022.0                    NaN
      easynvestfixa   4.0  1.0  2022.0                    NaN
Jq    ccnubank       16.0  1.0  2022.0                    NaN
      nuconta         8.0  1.0  2022.0                    NaN
      nuconta         8.0  1.0  2022.0                    NaN
Opf   cash            NaN  NaN     NaN                    NaN
      cxpf            7.0  1.0  2022.0  Pagamendo antencipado
      cxpf            7.0  1.0  2022.0           Para Nuconta
      cxpf            NaN  NaN     NaN                    NaN
      easynvest       4.0  1.0  2022.0                    NaN
      easynvest       4.0  1.0  2022.0                    NaN
      easynvest       NaN  NaN     NaN                    NaN
      easynvestfixa   NaN  NaN     NaN                    NaN
      easynvestvar    NaN  NaN     NaN                    NaN
      nuconta         5.0  1.0  2022.0                    NaN
      nuconta         5.0  1.0  2022.0                    NaN
      nuconta         7.0  1.0  2022.0               Da cx pf
      nuconta         NaN  NaN     NaN                    NaN
Pr    cxpf            5.0  1.0  2022.0                    NaN
      cxpf           10.0  1.0  2022.0                    NaN
      cxpf           10.0  1.0  2022.0                    NaN
      nuconta         8.0  1.0  2022.0                    NaN
Senai cxpf            7.0  1.0  2022.0                    NaN

In [67]:
disc.str.contains('saldo')

0      True
1      True
2      True
3      True
4      True
5      True
6     False
7      True
8      True
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37     True
38     True
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: Disc, dtype: bool

In [58]:
cur

,Disc,Sist,Cat,Fonte,Valor,Op,Op type,Dia,Mês,Ano,Ctr,opi,ta
0,saldo anterior,Opf,NaN,cxpf,3.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 345.0 1 26600.0 2 115400....
1,saldo anterior,Opf,NaN,cash,266.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 345.0 1 26600.0 2 115400....
2,saldo anterior,Opf,NaN,nuconta,1154.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 345.0 1 26600.0 2 115400....
3,saldo anterior,Opf,NaN,easynvest,134.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 345.0 1 26600.0 2 115400....
4,saldo anterior,Opf,NaN,easynvestvar,3988.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 345.0 1 26600.0 2 115400....
5,saldo anterior,Opf,NaN,easynvestfixa,19906.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 345.0 1 26600.0 2 115400....
6,Juros s/ capital próprio 50 BRITUBACNOR4,Inv,dividendos,easynvest,0.75,C,NaN,3.0,1.0,2022.0,NaN,credito,0 345.0 1 26600.0 2 115400....
7,Retirada de saldo de tesouro selic,Inv,NaN,easynvestfixa,-6945.46,Si,NaN,4.0,1.0,2022.0,NaN,saida interna,0 345.0 1 26600.0 2 115400....
8,Recebimento de saldo tesouro selic,Opf,NaN,easynvest,6945.46,Ei,NaN,4.0,1.0,2022.0,NaN,NaN,0 345.0 1 26600.0 2 115400....
9,Prov irrf s/ renda fixa,Inv,NaN,easynvest,-28.96,D,NaN,4.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
10,Saída de saldo para Nuconta,Opf,NaN,easynvest,-7051.96,Si,NaN,4.0,1.0,2022.0,NaN,saida interna,0 345.0 1 26600.0 2 115400....
11,Recebimento de saldo da easynvest,Opf,NaN,nuconta,7051.96,Ei,NaN,5.0,1.0,2022.0,NaN,NaN,0 345.0 1 26600.0 2 115400....
12,Saída para sistema faz,Opf,NaN,nuconta,-7000.00,Se,NaN,5.0,1.0,2022.0,NaN,NaN,0 345.0 1 26600.0 2 115400....
13,Aluguel ap. 403,Pr,Crédito aluguel,cxpf,272.50,Ee,NaN,5.0,1.0,2022.0,NaN,NaN,0 345.0 1 26600.0 2 115400....
14,Combustível oroch pedagios,Dp,Dct,cash,-129.70,D,gd,7.0,1.0,2022.0,20+100+9.70,debito,0 345.0 1 26600.0 2 115400....
15,Almoço 2 águas 20L e compras rios,Dp,Mercado,cash,-69.80,D,gd,4.0,1.0,2022.0,30+12+6.80+21,debito,0 345.0 1 26600.0 2 115400....
16,Compras market4u,Dp,Mercado,cxpf,-22.52,D,cd,6.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
17,Atakareko e market4u,Dp,Mercado,cxpf,-265.49,D,cd,10.0,1.0,2022.0,256.46+9.03,debito,0 345.0 1 26600.0 2 115400....
18,Compras atakarejo,Dp,Mercado,ccnubank,-347.57,D,cc,7.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
19,Vitamina D,Dp,Farmacia,cash,-29.00,D,gd,3.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
20,Açai,Dp,Sup,cash,-35.00,D,gd,3.0,1.0,2022.0,35,debito,0 345.0 1 26600.0 2 115400....
21,Pizza dnapolli,Dp,Sup,cxpf,-50.00,D,pix,5.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
22,Pizza dnapoli bp select,Dp,Sup,ccnubank,-68.90,D,cc,24.0,1.0,2022.0,49.90+19,debito,0 345.0 1 26600.0 2 115400....
23,Nord research assinatura dividendos,Inv,Curso,ccnubank,-18.00,D,cc,24.0,1.0,2022.0,5/12,debito,0 345.0 1 26600.0 2 115400....
24,Ferramentas ferro solda e mais,Dp,Computador,ccnubank,-159.11,D,cc,24.0,1.0,2022.0,75.92+83.19,debito,0 345.0 1 26600.0 2 115400....
25,Recarga celular,Dp,Isabelle,ccnubank,-10.00,D,cc,24.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
26,Sete habitos das pessoas mais eficazes,Dp,Livros,ccnubank,-17.90,D,cc,24.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
27,Roupas velmond,Dp,Roupas,ccnubank,-104.85,D,cc,24.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
28,Almoco isabelle cafe Kopen estacionamento,Dp,Sup,ccnubank,-56.06,D,cc,9.0,1.0,2022.0,39.56+7.50+9,debito,0 345.0 1 26600.0 2 115400....
29,Filme o senhor dos aneis 1,Dp,Sup,ccnubank,-22.90,D,cc,10.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
30,2 conjuntos de roupas,Jq,Roupas,ccnubank,-116.89,D,cd,16.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
31,Plano de saúde cassi Janeiro,Dp,Plano de saúde,matriz,-748.44,D,blt,5.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
32,Pagamento de internet claro Janeiro,Dp,Internet,cxpf,-104.99,D,blt,5.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
33,Pagamento gas janeiro,Dp,Gas,cxpf,-67.59,D,blt,7.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
34,Salário 9 bolsa de estudos SENAI CIMATEC,Senai,Crédito salário,cxpf,3600.00,C,NaN,7.0,1.0,2022.0,NaN,credito,0 345.0 1 26600.0 2 115400....
35,Pagamento fatura nubank janeiro,Opf,Pagamento fatura,cxpf,-350.00,D,NaN,7.0,1.0,2022.0,Pagamendo antencipado,debito,0 345.0 1 26600.0 2 115400....
36,2 wheys e creme branco growth,Dp,Suplemento,cxpf,-288.42,D,blt,7.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
37,Saída de saldo,Opf,NaN,cxpf,-2961.58,Si,PIX,7.0,1.0,2022.0,Para Nuconta,saida interna,0 345.0 1 26600.0 2 115400....
38,Recebimento de saldo,Opf,NaN,nuconta,2961.58,Ei,NaN,7.0,1.0,2022.0,Da cx pf,NaN,0 345.0 1 26600.0 2 115400....
39,Aluguel ap. 203,Pr,Crédito aluguel,cxpf,325.00,Ee,pix,10.0,1.0,2022.0,NaN,NaN,0 345.0 1 26600.0 2 115400....
40,Aluguel ap. 202,Pr,Crédito aluguel,nuconta,200.00,Ee,NaN,8.0,1.0,2022.0,NaN,NaN,0 345.0 1 26600.0 2 115400....
41,Aluguel ponto 1,Pr,Crédito aluguel,cxpf,1310.00,Ee,NaN,10.0,1.0,2022.0,NaN,NaN,0 345.0 1 26600.0 2 115400....
42,Kit roupa sol,Jq,Roupas,nuconta,-119.99,D,cd,8.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
43,Brinquedo de praia,Jq,Brinquedos,nuconta,-22.90,D,cd,8.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
44,Conta coelba brisas Novembro Dezembro,Dp,Conta de energia,cxpf,-482.35,D,Boleto,12.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
45,Compras atakadao atakarejo e feira cond,Dp,Mercado,cxpf,-346.83,D,cd,14.0,1.0,2022.0,315.87+30.96,debito,0 345.0 1 26600.0 2 115400....
46,Combustível up,Dp,Dct,cxpf,-100.00,D,cd,15.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
47,Compras atakadao atakarejo feira cond e 3 agua...,Dp,Mercado,cxpf,-179.55,D,cd,17.0,1.0,2022.0,62+82.77+30+4.78,debito,0 345.0 1 26600.0 2 115400....
48,Recarga celular,Dp,Isabelle,cxpf,-15.00,D,cc,17.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....
49,Aluguel cond. brisas ssa,Dp,Aluguel,matriz,-2500.00,D,NaN,17.0,1.0,2022.0,NaN,debito,0 345.0 1 26600.0 2 115400....

In [39]:
df = pd.DataFrame({'k1' : ['one', None] * 5, 'k2' : ['three', 'a'] * 5})
rand = pd.DataFrame(np.random.randn(7, 3))
rand

          0         1         2
0 -0.208172 -0.185542  0.895656
1  1.408961  0.189968  1.538610
2 -0.835822  2.155685 -1.132575
3  0.614122 -0.023387  0.049809
4  0.457751  0.118915 -0.783062
5 -1.133894 -0.077523  1.437965
6 -1.303685 -0.731608 -1.643259

In [44]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon','Pastrami', 'corned beef', 'Bacon', 'pastrami', 'honey ham', 'nova lox'],
'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [43]:
rand.iloc[:4, 1] = None
rand

          0         1         2
0 -0.208172       NaN  0.895656
1  1.408961       NaN  1.538610
2 -0.835822       NaN -1.132575
3  0.614122       NaN  0.049809
4  0.457751  0.118915 -0.783062
5 -1.133894 -0.077523  1.437965
6 -1.303685 -0.731608 -1.643259

In [12]:
no_na = df.dropna()
no_na

    k1     k2
0  one  three
1  NaN      a
2  one  three
3  NaN      a
4  one  three
5  NaN      a
6  one  three
7  NaN      a
8  one  three
9  NaN      a

In [19]:
ser = pd.Series(['aard', 'arti', np.nan, 'avocado', None])
ser

0       aard
1       arti
2        NaN
3    avocado
4       None
dtype: object

In [20]:
ser.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [18]:
ser[0]

'aard'